DATABASE_URL="mysql://root:@localhost:3306/taskmanager"
JWT_SECRET=your_super_secret_key_here
JWT_REFRESH_SECRET=anotherscret
DATABASE_USER=user
DATABASE_PASSWORD=pass
DATABASE_NAME=db
TEST_DATABASE_NAME=testdb
DATABASE_HOST=host
DATABASE_PORT=dbport
PORT=port